.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #031329;
}

.bona-nova-sc-regular {
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: normal;
}

.source-code-pro {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

.baslik{
    background-image: url("./images/background.jpg");
}

.resim img{
    width: 150px;
}

.isim, .altbaslik, .profile-img{
    display: flex;
    justify-content: center;
    align-content: center;
}

.isim > h1{
    width: 250px;
    border-radius: 25%;
    padding: 15px;
    background-color: white;
}

.altbaslik > *{
    width: 120px;
    border-radius: 15%;
    padding: 15px;
    background-color: white;
}

.profile-img{
    width: 200px;
    height: 200px;
    margin: auto;
}

.profile-img > img{
    border-radius: 50%;
}

.yetenek > *{
    width: 100px;
    margin: auto;
}